body{
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
}
#first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#first>div:last-child{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
}
#nav{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
#qs{
    background-color: rgb(222, 220, 220);
    border: none;
    border-radius: 7px;
    height: 40px;
}
#qs+div{
    padding: 3px;
    height: 37px;
    background-color: rgb(222, 220, 220);
    width: 220px;
    border-radius: 10px;
}
#qs+div>button{
    border: none;
    border-radius: 7px;
    height: 40px;
}
#first>div:last-child{
    display: flex;
    height: 35px;
    align-items: center;
}
#first>div:last-child>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#weth{
    height: 35px;
    border-radius: 7px 0px 0px 7px;
    width: 500px;
    border-color: white;
}
#srch{
    margin-left: -6px;
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    color: white;
    border-radius: 0px 7px 7px 0px;
    height: 40px;
    width: 130px;
}
#display{
    background-color: white;
    display: flex;
    padding: 35px;
    justify-content: space-between;
}
#display>div:first-child>div:first-child{
    display: flex;
    gap: 20px;
}
#place+div{
    display: flex;
    align-items: center;
    gap: 20px;
}
#place+div>img{
    width: 70px;
}
#feel{
    font-weight: bolder;
}
#feel+div{
    display: flex;
    gap: 10px;
}
#feel+div>div:first-child{
    border: 0.1px solid red;
}
#map{
    height: 360px;
    width: 600px;
    margin-top: 20px;
}
.mapouter{
    width: 100%;
    height: 100%;
}
.gmap_canvas{
    width: 100%;
    height: 100%;
}